.statistic-list
{
    padding: 20px;
    border-radius: 0 0 20px 20px;
    width: 100%;

    .list-items
    {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 20px;

        @media (max-width: 1050px) {
            grid-template-columns: repeat(6, 1fr);
        }

        @media (max-width: 960px) {
            grid-template-columns: repeat(5, 1fr);
        }

        @media (max-width: 780px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 628px) {
            grid-template-columns: 1fr;
        }
        
        li
        {
            display: grid;
            border-radius: 10px;
            min-height: 200px;
            padding: 10px;
            overflow: hidden;

            @media (max-width: 628px) {
                grid-template-columns: repeat(5, 1fr);
                align-items: center;
                min-height: auto;
            }
    
            h2
            {
                font-weight: 500;
                font-size: 18px;
                text-transform: capitalize;

                @media (max-width: 628px) {
                    font-size: 16px;
                }

                @media (max-width: 480px) {
                    font-size: 14px;
                }
            }

            h3
            {
                font-weight: 400;
                color: #939CB0;
                font-size: 14px;
                text-transform: capitalize;

                @media (max-width: 480px) {
                    font-size: 12px;
                }
            }
    
            .item-temp
            {
                h2
                {
                    font-weight: 500;
                    font-size: 18px;
                    text-transform: capitalize;

                    @media (max-width: 480px) {
                        font-size: 16px;
                    }
                }
                h3
                {
                    font-weight: 400;
                    font-size: 13px;
                    text-transform: capitalize;

                    @media (max-width: 480px) {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}
