.statistic-buttons
{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 0;

    @media (max-width: 544px) {
        flex-direction: column;
    }

    .statistic-switch
    {
        display: flex;
        gap: 15px;

        @media (max-width: 544px) {
            justify-content: space-between;
        }
    }

    button
    {
        border-radius: 5px;
        font-weight: 400;
        font-size: 18px;
        padding: 10px 20px;
        cursor: pointer;
        box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, .25);

        transition: background-color .3s, color .3s;

        @media (max-width: 628px) {
            font-size: 16px;
        }

        @media (max-width: 586px) {
            font-size: 14px;
        }

        @media (max-width: 544px) {
            width: 100%;
        }

        &.active,
        &:hover
        {
            background-color: #4793FF;
            color: #fff;
        }

        &:active
        {
            filter: brightness(1.1);
        }
    }
}