.weather-day-inner
{
    display: grid;
    grid-template-rows: 7fr 3fr;
    gap: 20px;

    @media (max-width: 887px) {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    @media (max-width: 590px) {
        display: flex;
        justify-content: space-between;
    }

    @media (max-width: 620px) {
        gap: 10px;
    }

    .day-temperature
    {
        display: grid;
        grid-template-columns: 6fr 4fr;

        @media (max-width: 887px) {
            display: flex;
            gap: 15px;
        }

        @media (max-width: 620px) {
            display: block;
        }

    
        &_number
        {
            h1
            {
                font-weight: 500;
                font-size: 96px;
                margin: 0;
                color: #4793FF;

                @media (max-width: 1100px) {
                    font-size: 86px;
                }

                @media (max-width: 887px) {
                    font-size: 72px;
                }

                @media (max-width: 620px) {
                    font-size: 68px;
                }
            }
    
            h2
            {
                font-weight: 400;
                font-size: 40px;

                @media (max-width: 1100px) {
                    font-size: 34px;
                }

                @media (max-width: 887px) {
                    font-size: 30px;
                }

                @media (max-width: 620px) {
                    font-size: 26px;
                }
            }
        }
    
        &_img
        {
            width: 100%;
            padding: 10px;

            @media (max-width: 620px) {
                display: none;
            }

            img
            {
                max-width: 350px;
                width: 100%;
                // animation: animate 10s linear infinite;

                @media (max-width: 887px) {
                    max-width: 120px;
                }

                @media (max-width: 668px) {
                    max-width: 150px;
                }

                @keyframes animate
                {
                    0%
                    {
                        transform: rotate(0);
                    }
                    100%
                    {
                        transform: rotate(360deg);
                    }
                }
            }
    
            
        }
    }
    
    .day-time
    {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @media (max-width: 887px) {
            align-items: center;
        }

        @media (max-width: 488px) {
            align-items: flex-start;
        }


        h2
        {
            font-weight: 400;
            font-size: 25px;
            color: #939CB0;

            @media (max-width: 1100px) {
                font-size: 22px;
            }

            @media (max-width: 887px) {
                font-size: 28px;
            }

            @media (max-width: 788px) {
                font-size: 20px;
            }
        }
    }
}
